@import "colors";

html{
  font-size: 14px;
  font-family: '微软雅黑', '宋体', Arial;
}

html,
body,
ul,
ol,
li,
dl,
dt,
dd,
aside{
  margin: 0;
  padding: 0;
}

#wrap-container{
  margin: 12px 0;
}

header{
  height: 80px;
  background: $lightGreen;
  color: white;

  & > .logo{
    font-size: 2rem;
    font-weight: bold;
    line-height: 80px;
    padding: 0 0 0 12px;
  }

  .head-search{
    position: absolute;
    left: 410px;
    top: 26px;

    .keys{
      padding-left: 8px;
      line-height: 24px;
      border: 1px solid $gray;
    }
    .search{
      padding: 3px 12px;
    }
  }

}

footer{
  border-top: solid 1px $gray;
  margin: 12px 0 0 0;
  .copyright{
    padding: 12px 0;
    line-height: 24px;
    text-align: center;
  }
}

button{
  line-height: 24px;
  padding: 8px 12px;
  background: $buttonBg;
  color: $buttonColor;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-family: '微软雅黑', '宋体', Arial;

  &.small{
    padding: 0;
  }
  &.normal{
    border-radius: 0;
  }
  &.face{
    background: $lightGreen;

    &:hover{
      background: $buttonFaceHover;
    }
  }

  &:hover{
    background: $buttonHover;
  }
}

a{
  text-decoration: none;
  color: #000;

  &:hover{
    color: $lightGreen;
  }
}

.pager{
  line-height: 24px;

  .pager-item, .pager-btn{
    display: inline-block;
    padding: 4px 10px;
    margin: 0 7px;
    border: 1px solid $pagerItemBorder;

    &:hover, &.active{
      border-color: $pagerItemHover;
    }
  }

  .pager-input{
    width: 32px;
    border: 1px solid $pagerItemBorder;
    padding: 8px 4px;
    text-align: center;
  }
}

.normalHeight{
  line-height: 24px;
}