$red: #ff0000;
$gray: #ddd;
$lightGreen: #24B73D;
$greenColor: #31c05d;
$buttonBg: rgba(0, 0, 0, .2);
$buttonHover: rgba(0, 0, 0, .1);
$buttonColor: #fff;
$buttonFaceHover: rgba($lightGreen, .8);
$codeColor: #357eff;
$codeBg: #f5f5f5;
$pagerItemBorder: #e3e3e3;
$pagerBtnborder: #e3e3e3;
$pagerItemHover: #74AB0A;
$demoReturn: #EA9B06;
$buttonCopy: #ff9138;
$buttonSync: #439cff;