<%- include public/header %>
<link href="/css/dialog.css" rel="stylesheet" />
<%- include public/head %>
<div id="wrap-container">
    <div class="crumbs"><a href="/">我的项目</a> &gt; <span id="myProjectName"></span></div>
    <div id="module-container">
        <div id="main-container">&nbsp;</div>
        <aside><ul id="module-list"></ul></aside>
    </div>
    <button id="create">新建模块</button>
</div>
<%- include public/copyright %>
<script id="listItemTpl" type="text/html">
<%%
    var item;
    for(var i=0, l=list.length;i<l;i++){
        item = list[i];
%>
    <li data-module="<%%=item.id%>"><a href="/module?pid=<%%=pid%>&mid=<%%=item._id%>"><%%= item.name %></a></li>
<%% } %>
</script>
<script id="containerTpl" type="text/html">
<ul class="tab">
    <li id="description" class="active">介绍</li>
    <li id="demo">Demo</li>
    <li id="history">历史版本</li>
    <li id="edit">编辑</li>
</ul>
<div class="content">
    <div>
        <h1 class="center"><%%= module.name %></h1>
        <small class="date"><%%= module.author %> create @ <%%= moment(module.createTime).format('YYYY-MM-DD HH:mm:ss') %>. last modify @ <%%= moment(module.lastModify).format('YYYY-MM-DD HH:mm:ss')%></small>
        <div class="normalHeight"><b>URL：</b><%%= module.path %></div>
        <div class="normalHeight"><b>编译文件URL：</b><%%= module.path.replace('/modules/', '/dist/') %></div>
        <%% if(module.tags && module.tags.length){%>
        <h3>标签：</h3>
        <ul class="module-tags">
            <%%
                for(var i=0;i<module.tags.length;i++){
            %>
            <li><%%=module.tags[i]%></li>
            <%%
                }
            %>
        </ul>
        <%%}%>
        <div class="module-operate">
            <%if("dev" == env){%><button class="btn face sync">同步至测试服务器</button><%}%>
            <%if("test" == env){%><button class="btn face compress">发布</button><%}%>
            <%if('test' == env){%><button class="btn face copy">直接发布(Copy)</button><%}%>
        </div>
        <div class="module-dependencies">
            <h3>依赖的模块：</h3>
            <ul>
                <%%
                    var item, map;
                    if(module.deps && (module.deps.exists.length || module.deps.lostes.length)){
                        map = module.deps.map;
                        for(var i=0,l=module.deps.exists.length;i<l;i++){
                            item = module.deps.exists[i];
                %>
                <li><a href="/module?mid=<%%=map[item].mid%>&pid=<%%=map[item].pid%>" title="<%%=item%>"><%%=map[item].name%></a></li>
                <%%
                        }
                        for(var i=0,l=module.deps.lostes.length;i<l;i++){
                            item = module.deps.lostes[i];
                %>
                <li class="lost"><%%= item %></li>
                <%% } %>
                <%% }else{ %>
                <li>N/A</li>
                <%% } %>
            </ul>
            <br />
            <h3>被以下模块依赖(<%%=(module.uses || []).length%>)：</h3>
            <ul>
                <%%
                    var data, item;
                    data = module.uses ||[];
                    if(data.length){
                    for(var i=0,l=data.length;i<l;i++){
                        item = data[i];
                %>
                <li><a href="/module?mid=<%%=item._id%>&pid=<%%=item.pid%>" title="<%%=item.name%>"><%%=item.name%></a></li>
                <%%}}else{%>
                <li>N/A</li>
                <%%}%>
            </ul>
        </div>
        <pre><code><%%= htmlEncode(module.code).trim() %></code></pre>
        <br /><br /><br /><br />
    </div>
    <div style="display: none;"></div>
    <div style="display: none;"></div>
</div>
</script>
<script>
    require(['_modules']);
</script>
<%- include public/footer %>