<%- include public/header %>
<link href="/css/dialog.css" rel="stylesheet" />
<script src="/js/ace.js"></script>
<%- include public/head %>
<div id="wrap-container">
    <div class="crumbs"><a href="/">我的项目</a> / <a href=""></a></div>
    <div id="moduleadd-container">
        <form action="" method="post" enctype="multipart/form-data" onsubmit="return false;">
            <input type="hidden" name="pid" value="" />
            <input type="hidden" name="_id" value="" />
            <div class="item">
                <h1 id="project-name">项目</h1>
            </div>
            <div class="item">
                <label>模块标识：</label>
                <input type="text" name="id" placeholder="填写唯一标识，与模块文件名一致" />
            </div>
            <div class="item">
                <label>模块名称：</label>
                <input type="text" name="name" placeholder="给模块取个名字" />
            </div>
            <div class="item">
                <label>模块作者：</label>
                <input type="text" name="author" />
            </div>
            <div class="item">
                <label>模块路径：</label>
                <input type="text" name="path" placeholder="模块文件的可访问路径" />
            </div>
            <div class="item">
                <label>模块代码：</label>
                <div id="code"></div>
            </div>
            <div class="item">
                <label>标签：</label>
                <input type="text" name="tags" placeholder="多个标签用逗号分隔" />
            </div>
            <div class="item">
                <label>Demo代码：</label>
                <div id="demo"></div>
            </div>
            <div class="item">
                <label>依赖项：</label>
                <ul id="dependencies"></ul>
            </div>
            <div class="item">
                <label>创建时间：</label>
                <span id="createTime"></span>
            </div>
            <div class="item">
                <label>最后修改时间：</label>
                <span id="lastModify"></span>
            </div>
            <div class="item">
                <button id="btn-save" class="face">保存</button>
            </div>
        </form>
    </div>
</div>
<%- include public/copyright %>
<script>
    require(['_moduleadd']);
</script>
<%- include public/footer %>