<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>圣杯布局</title>

    <style type="text/css">
        body {background-color: #ffffff; font-size:14px;}
        #hd, #ft {padding:20px 3px; background-color: #cccccc; text-align: center;}
        .bd-lft, .bd-rgt, .bd-3-lr, .bd-3-ll, .bd-3-rr {margin:10px 0; min-width:400px;}
        .main {background-color: #03a9f4; color:#ffffff;}
        .aside, .aside-1, .aside-2 {background-color: #00bcd4; color:#ffffff;}
        p {margin:0; padding:20px; text-align: center;}


        /* 左侧栏固定宽度，右侧自适应 */
        .bd-lft {
            zoom:1;
            overflow:hidden;
            padding-left:210px;
        }
        .bd-lft .aside {
            float:left;
            width:200px;
            margin-left:-100%; /*= -100%*/

            position:relative;
            left:-210px; /* = -parantNode.paddingLeft */
            _left: 0; /*IE6 hack*/
        }
        .bd-lft .main {
            float:left;
            width:100%;
        }


        /* 右侧栏固定宽度，左侧自适应 */
        .bd-rgt {
            zoom:1;
            overflow:hidden;
            padding-right:210px;
        }
        .bd-rgt .aside {
            float:left;
            width:200px;
            margin-left:-200px; /* = -this.width */

            position:relative;
            right:-210px; /* = -parantNode.paddingRight */
        }
        .bd-rgt .main {
            float:left;
            width:100%;
        }


        /* 左中右 三栏自适应 */
        .bd-3-lr {
            zoom:1;
            overflow:hidden;
            padding-left:210px;
            padding-right:210px;
        }
        .bd-3-lr .main {
            float:left;
            width:100%;
        }
        .bd-3-lr .aside-1 {
            float: left;
            width:200px;
            margin-left: -100%;

            position:relative;
            left: -210px;
            _left: 210px; /*IE6 hack*/
        }
        .bd-3-lr .aside-2 {
            float: left;
            width:200px;
            margin-left: -200px;

            position:relative;
            right: -210px;
        }

        /* 都在左边，右侧自适应 */
        .bd-3-ll {
            zoom:1;
            overflow:hidden;
            padding-left:420px;
        }
        .bd-3-ll .main {
            float:left;
            width:100%;
        }
        .bd-3-ll .aside-1 {
            float: left;
            width:200px;
            margin-left: -100%;

            position:relative;
            left: -420px;
            _left: 0px; /*IE6 hack*/
        }
        .bd-3-ll .aside-2 {
            float: left;
            width:200px;
            margin-left: -100%;

            position:relative;
            left: -210px;
            _left: 210px; /*IE6 hack*/
        }

        /* 都在右边，左侧自适应 */
        .bd-3-rr {
            zoom:1;
            overflow:hidden;
            padding-right:420px;
        }
        .bd-3-rr .main {
            float:left;
            width:100%;
        }
        .bd-3-rr .aside-1 {
            float: left;
            width:200px;
            margin-left: -200px;

            position:relative;
            right: -210px;
        }
        .bd-3-rr .aside-2 {
            float: left;
            width:200px;
            margin-left: -200px;

            position:relative;
            right: -420px;
        }


    </style>

</head>
<body>

<!--<div id="hd">头部</div>-->

<!--<div class="bd-lft">-->
    <!--<div class="main">-->
        <!--<p>主内容栏自适应宽度</p>-->
    <!--</div>-->

    <!--<div class="aside">-->
        <!--<p>侧边栏固定宽度</p>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="bd-rgt">-->
    <!--<div class="main">-->
        <!--<p>主内容栏自适应宽度</p>-->
    <!--</div>-->

    <!--<div class="aside">-->
        <!--<p>侧边栏固定宽度</p>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="bd-3-lr">-->
    <!--<div class="main">-->
        <!--<p>主内容栏自适应宽度</p>-->
    <!--</div>-->

    <!--<div class="aside-1">-->
        <!--<p>侧边栏1固定宽度</p>-->
    <!--</div>-->

    <!--<div class="aside-2">-->
        <!--<p>侧边栏2固定宽度</p>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="bd-3-ll">-->
    <!--<div class="main">-->
        <!--<p>主内容栏自适应宽度</p>-->
    <!--</div>-->

    <!--<div class="aside-1">-->
        <!--<p>侧边栏1固定宽度</p>-->
    <!--</div>-->

    <!--<div class="aside-2">-->
        <!--<p>侧边栏2固定宽度</p>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="bd-3-rr">-->
    <!--<div class="main">-->
        <!--<p>主内容栏自适应宽度</p>-->
    <!--</div>-->

    <!--<div class="aside-1">-->
        <!--<p>侧边栏1固定宽度</p>-->
    <!--</div>-->

    <!--<div class="aside-2">-->
        <!--<p>侧边栏2固定宽度</p>-->
    <!--</div>-->
<!--</div>-->

<!--<div id="ft">底部</div>-->








<!------------------------------------------------------------------->







<script id="_hiido_internal_script_id_" src="http://hdjs.hiido.com/hiido_internal.js?siteid=www@yy"></script>
<script>
    var isUser = 'T';
</script>
<script>
    var stat = {
        start: new Date(),
        times: []
    };
</script>
<script src="http://yyweb.yystatic.com/pc/js/lib/jQuery/jquery-1-61b3d71e26.11.1.min.js"></script>
<link rel="stylesheet" href="http://yyweb.yystatic.com/pc/css/play-4cdcc6486d.css?20160721183150" type="text/css">
<script src="http://res.udb.duowan.com/lgn/js/oauth/udbsdk/udb.sdk.getmm.min.js"></script>
<link href="http://res.udb.duowan.com/lgn/css/oauth/udbsdk/xelogin.sdk.css" rel="stylesheet" type="text/css">
<!--<script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="play-e79b562bd8" src="http://yyweb.yystatic.com/pc/js/play-e79b562bd8.js?20160721183150"></script>-->
<script src="http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=408122"></script>

<link rel="stylesheet" href="http://yyweb.yystatic.com/pc/css/headfoot-fabb224b50.mix.css?20160721183150" type="text/css">
<script src="http://res.udb.duowan.com/lgn/js/oauth/udbsdk/pcweb/udb.sdk.pcweb.embed.min.js" charset="utf-8"></script>
<script src="http://yyweb.yystatic.com/pc/js/headfoot-c6b938f834.mix.js?20160721183150" charset="utf-8"></script>
<script>
    var
            require = {
                urlArgs: '20160721183150',
                waitSeconds: 0
            };
</script>

<!-- + head-->
<div class="w-head w-head-withhomelink" id="wHead" data-stat-eventid="10009039">
    <!-- + topbar-->
    <div class="w-head-main">
        <div class="w-head-main-cnt">
            <div class="header-search-tips">
                <ul class="search-items">
                </ul>
            </div>
            <script type="text/tmpl" id="wHeadTplLogin">
                <div yy-on="mouseenter: infomouseenter, mouseleave: infomouseleave" class="w-head-userarea">
                    <a class="w-head-info-cover" href="/u/{$yynum}" data-stat-act-type="15"><i class="w-head-sprite"></i><img src="{$logo}?20160721183150" alt="{$nick}" width="34" height="34" class="img" onerror="this.onerror=null; this.src='http://yyweb.yystatic.com/pc/images/default_portrait_34.png?20160721183150'"></a>
                    <div class="w-head-drag w-head-info-drag">
                        <i class="w-head-drag-tri"></i>
                        <i class="w-head-drag-tri2"></i>
                        <i class="w-head-drag-enterstage"></i>
                        <div class="w-head-drag-main">
                            <div class="tl">你好，{$nick}</div>
                            <div class="l">
                                <ul>
                                    <li><a href="/u/{$yynum}" target="_blank"  data-stat-act-type="16">我的主页</a></li>
                                    {isAuthor}
                                    <li><a href="http://m.yy.com/zone/{$yynum}/#tag_perCenter" target="_blank" data-stat-act-type="17">主播管理</a></li>
                                    {endisAuthor}
                                    <li><a href="/u/account/{$yynum}" target="_blank"  data-stat-act-type="18">帐号设置</a></li>
                                    <li><a href="javascript:;" yy-on="click: logout" data-stat-act-type="19">退出</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div yy-on="mouseenter: focusmouseenter, mouseenter: popClose, mouseleave: focusmouseleave" class="w-head-focusarea">
                    <a href="/u/follow/{$yynum}#follow" class="w-head-info-focus" data-stat-act-type="4"><i class="icon"> </i>我的订阅<span yy-el="popMsgNum" class="new-message">0</span></a>
                    <div yy-el="focusDrag" class="w-head-drag w-head-focus-drag">
                        <i class="w-head-drag-tri"></i>
                        <i class="w-head-drag-tri2"></i>
                        <i class="w-head-drag-enterstage"></i>
                        <div class="w-head-drag-main">
                            <div class="w-head-tabs">
                                <ul>
                                    <li yy-on="mouseenter:tabsmouseenter" class="w-head-tabs-att-item current"><span>关注主播</span></li>
                                    <li yy-on="mouseenter:tabsmouseenter" class="w-head-tabs-sub-item"><span>订阅节目</span></li>
                                </ul>
                            </div>
                            <div class="w-head-tabs-att current nano">
                                <div class="w-head-loading"><i class="icon"></i></div>
                                <div yy-el="attFocusBox" class="w-head-drag-main-cnt nano-content"></div>
                            </div>
                            <div class="w-head-tabs-sub nano">
                                <div class="w-head-loading"><i class="icon"></i></div>
                                <div yy-el="subFocusBox" class="w-head-drag-main-cnt nano-content"></div>
                            </div>

                        </div>
                    </div>
                </div>
                <div yy-el="popbox" class="w-head-pop-area"></div>
            </script>
            <script type="text/tmpl" id="wHeadTplFocusAtt">
                {zero}
                <div class="w-head-blank"><span class="t">你关注的人暂时还没开播</span></div>
                {endzero}
                {muti}
                <div class="tl"> <i class="icon"></i><span class="t">{$total} 位正在直播</span></div>
                <div class="l">
                    <ul>
                        {repeat}
                        <li class="{$type}">
                            <a href="{$link}" class="box" target="_blank" data-stat-act-type="6">
                                <span class="w-head-info-cover-mini">
                                    <i class="w-head-sprite"></i>
                                    <img src="{$cover}?20160721183150" width="30" height="30" alt="{$title}" class="img">
                                </span>
                                <span class="s1">{$author}</span>
                                <span class="usr"><i class="icon"></i><span class="t">{$hot}</span></span>
                            </a>
                        </li>
                        {endrepeat}
                    </ul>
                </div>
                {endmuti}
            </script>
            <script type="text/tmpl" id="wHeadTplFocusSub">
                {zero}
                <div class="w-head-blank"><span class="t">你订阅的人暂时还没开播</span></div>
                {endzero}
                {muti}
                <div class="tl"> <i class="icon"></i><span class="t">{$total} 个预约节目正在直播</span></div>
                <div class="l">
                    <ul>
                        {repeat}
                        <li class="{$type}">
                            <a href="{$link}" class="box" target="_blank" data-stat-act-type="6">
                                <span class="w-head-sub-icon">
                                    <i class="cover"></i>
                                    <img src="{$cover}" alt="{$title}" class="img">
                                </span>
                                <span class="s1"><i class="txt">{$author}</i></span>
                                <span class="usr"><i class="icon"></i><span class="t">{$hot}</span></span>
                            </a>
                        </li>
                        {endrepeat}
                    </ul>
                </div>
                {endmuti}
            </script>
            <script type="text/tmpl" id="wHeadTplPop">
                <div yy-el="popitem" class="box muti">
                    <a href="javascript:;" yy-on="click: popClose" class="w-head-pop-close" data-stat-act-type="9">close</a>
                    {attsingle}
                    <a href="javascript:;" data-target="att" yy-on="click: popClose, click: focusmouseenter" class="box-cnt"  data-stat-act-type="8">
                        你关注的
                        <strong>{$attAuthor}</strong>
                        在直播
                    </a>
                    {attendsingle}
                    {attmuti}
                    <a href="javascript:;" data-target="att" yy-on="click: popClose, click: focusmouseenter" class="box-cnt"  data-stat-act-type="8">
                        你关注的
                        <strong>{$attAuthor}</strong>
                        等
                        <strong>{$attTotal}</strong>
                        人正在直播
                    </a>
                    {attendmuti}
                    {subsingle}
                    <a href="javascript:;" data-target="sub" yy-on="click: popClose, click: focusmouseenter" class="box-cnt"  data-stat-act-type="8">
                        你订阅的
                        <strong>{$subAuthor}</strong>
                        节目正在直播
                    </a>
                    {subendsingle}
                    {submuti}
                    <a href="javascript:;" data-target="sub" yy-on="click: popClose, click: focusmouseenter" class="box-cnt"  data-stat-act-type="8">
                        你订阅的
                        <strong>{$subAuthor}</strong>
                        等
                        <strong>{$subTotal}</strong>
                        个节目正在直播
                    </a>
                    {subendmuti}
                </div>
            </script>
            <script type="text/tmpl" id="wHeadTplLogout">
                <div class="w-head-info-nologin">
                    <a href="javascript:;" yy-on="click: login" class="s1" data-stat-act-type="13">登录</a>
                    <a href="javascript:;" class="s2" yy-on="click: reg" data-stat-act-type="14">注册</a>
                </div>
            </script>
        </div>
    </div>
    <!-- - topbar-->
</div>
<!-- + login-box-->
<div id="thirdparty-frame-box">
    <a href="javascript: void(0);" class="close"></a> <iframe id="thirdpartyLoginFrame" src="" scrolling="no" allowtransparency="true" frameborder="0"></iframe>
</div>
<div id="loginWrap" class="login-box">
    <div class="login">
        <div class="login-main">
            <div class="login-hd"><a href="javascript:void(0);" id="login-btn" class="tab-btn active">登录</a><a href="javascript:void(0);" id="register-btn" class="tab-btn">注册</a><i id="line" class="line"></i></div>
            <div class="login-bd">
                <div class="login-content">
                    <div class="tab-unit active">
                        <div id="login-tab">
                            <h2 class="login-title">YY帐号登录</h2>
                            <div id="udbsdk_login_content"> <div id="udbsdk_login_normal" class="udbsdk_login"><iframe id="udbsdk_frm_normal" class="udbsdk_frm" src="about:blank" frameborder="0" scrolling="no" allowtransparency="true"></iframe></div></div>
                        </div>
                    </div>
                    <div class="tab-unit">
                        <h2 class="title active phone-title">手机注册</h2>
                        <div id="reg-phone" class="register-tab active"> <iframe id="register-phone" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
                            <div class="toggle">
                                <a class="use-email" href="javascript:void(0);">使用邮箱注册 &gt;</a>
                            </div>
                        </div>
                        <h2 class="title email-title">邮箱注册</h2>
                        <div id="reg-email" class="register-tab"> <iframe id="register-email" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
                            <div class="toggle">
                                <a class="use-phone" href="javascript:void(0);">使用手机注册 &gt;</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="login-sidebar">
            <h2 class="title"> 第三方帐号登录</h2>
            <div class="other-login"><a href="javascript:void(0);" class="qqlogin">QQ帐号登录</a><a href="javascript:void(0);" class="wblogin">微博帐号登录</a>
                <a href="javascript:void(0);" class="wxlogin">微信帐号登录</a>
            </div>
        </div>
    </div>
    <a class="close"></a>
</div>
<!-- - login-box-->
<!-- + login-box-mask-->
<div class="account-login-mask"></div>
<!-- - login-box-mask-->
<!-- - head-->


<script>
    var flashUrlPrefix = 'http://weblbs.yystatic.com/';
    header(
            {
                current: '',
                currentDrag: false,
                nav: false
            });
</script>

<div class="wrapper" data-stat-eventid="10008903">
    <div class="banner-inner">
        <div class="video-wrap">
            <div class="player-flash">
                <div id="flashBox" class="flash-box"><object id="player" name="player" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=10.0.32" data="http://weblbs.yystatic.com/s/90006/0/yycomvideoscene.swf" width="874" height="552"><param name="movie" value="http://weblbs.yystatic.com/s/90006/0/yycomvideoscene.swf"><param name="flashvars" value="doJoin=0&amp;sceneType=6&amp;resid=15012x03_78692132_1254310572_1469095474_1469095474"><param name="quality" value="high"><param name="allowScriptAccess" value="always"><param name="wmode" value="opaque"><param name="bgcolor" value="#000000"><param name="allowFullScreen" value="true"><param name="allowFullScreenInteractive" value="true"><embed id="embed_player" src="http://weblbs.yystatic.com/s/90006/0/yycomvideoscene.swf" width="874" allowfullscreen="true" allowfullscreeninteractive="true" height="552" allowscriptaccess="always" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="doJoin=0&amp;sceneType=6&amp;resid=15012x03_78692132_1254310572_1469095474_1469095474" type="application/x-shockwave-flash" wmode="opaque" bgcolor="#000000"></object></div>
                <div class="player-func">
                    <div class="func-rgt" data-stat-bak1="2" data-stat-bak2="15012x03_78692132_1254310572_1469095474_1469095474">
                        <div class="func-mod func-mobile"><a class="mobile-btn" data-stat-act-type="8"><i class="icon-mobile"></i>用手机观看</a>
                            <div class="func-layout mobile-layout hidden">
                                <div class="pop-arrow"><i class="arrow-o"></i><i class="arrow-i"></i></div>
                            </div>
                        </div>
                    </div>
                </div><a href="javascript:;" title="收缩" class="shrink-wrap"><span class="pop-arrow"><i class="arrow-o"></i><i class="arrow-i"></i></span></a> </div>
        </div>
    </div>
</div>

<script>
    pageInfo = {
        video: "http://record.vod.huanjuyun.com/xcrs/15012x03_78692132_1254310572_1469095474_1469095474.m3u8",

        title: "陈晓陈妍希台北婚宴直击",

        type: "6",
        reportType: "2",
        resid: "15012x03_78692132_1254310572_1469095474_1469095474",
        zanCount: "47351",
        vStatus : "0",
        pic:"http://image.yy.com/yysnapshot/71b1bb558a85938e90b3b418d2e82962e16f7297"
    };
</script>
<script src="http://yyweb.yystatic.com/pc/js/lib/requirejs/require-31901cdb89.js?20160721183150" data-main="/modules/__________t.js"></script>


<div id="udbsdk_cookieFrm" style="width: 0px; height: 0px;">
    <iframe id="udbsdk_writeCookieFrm_normal" src="about:blank" frameborder="0" scrolling="no" style="width:0px;height:0px;"></iframe>
    <iframe id="udbsdk_deleteCookieFrm_normal" src="about:blank" frameborder="0" scrolling="no" style="width:0px;height:0px;"></iframe>
</div>

</body>
</html>