@charset "UTF-8";
html { font-size: 14px; font-family: '微软雅黑', '宋体', Arial; }

html, body, ul, ol, li, dl, dt, dd, aside { margin: 0; padding: 0; }

#wrap-container { margin: 12px 0; }

header { height: 80px; background: #24B73D; color: white; }

header > .logo { font-size: 2rem; font-weight: bold; line-height: 80px; padding: 0 0 0 12px; }

header .head-search { position: absolute; left: 410px; top: 26px; }

header .head-search .keys { padding-left: 8px; line-height: 24px; border: 1px solid #ddd; }

header .head-search .search { padding: 3px 12px; }

footer { border-top: solid 1px #ddd; margin: 12px 0 0 0; }

footer .copyright { padding: 12px 0; line-height: 24px; text-align: center; }

button { line-height: 24px; padding: 8px 12px; background: rgba(0, 0, 0, 0.2); color: #fff; border: none; border-radius: 8px; cursor: pointer; font-size: 14px; font-family: '微软雅黑', '宋体', Arial; }

button.small { padding: 0; }

button.normal { border-radius: 0; }

button.face { background: #24B73D; }

button.face:hover { background: rgba(36, 183, 61, 0.8); }

button:hover { background: rgba(0, 0, 0, 0.1); }

a { text-decoration: none; color: #000; }

a:hover { color: #24B73D; }

.pager { line-height: 24px; }

.pager .pager-item, .pager .pager-btn { display: inline-block; padding: 4px 10px; margin: 0 7px; border: 1px solid #e3e3e3; }

.pager .pager-item:hover, .pager .pager-item.active, .pager .pager-btn:hover, .pager .pager-btn.active { border-color: #74AB0A; }

.pager .pager-input { width: 32px; border: 1px solid #e3e3e3; padding: 8px 4px; text-align: center; }

.normalHeight { line-height: 24px; }


#multiSearch { line-height: 24px; min-width: 600px; }

#multiSearch a { display: inline-block; color: black; text-decoration: none; padding: 0 6px; }

#multiSearch a:hover, #multiSearch a.active { color: #31c05d; }

#multiSearch dl { overflow: hidden; }

#multiSearch dl dt { float: left; width: 60px; text-align: center; }

#multiSearch dl dd { float: left; }

#multiSearch .cur-condition { margin-top: 24px; line-height: 24px; }

#multiSearch .cur-condition a { border: 1px solid #31c05d; padding-right: 0; }

#multiSearch .cur-condition a:after { display: inline-block; width: 24px; content: 'X'; background: #31c05d; text-align: center; margin-left: 4px; }

#multiSearch .cur-condition a:hover:after { color: #fff; }

#multiSearch input.small { width: 40px; }

.demo-method { line-height: 24px; }

.demo-method > li { list-style: none; border-bottom: 1px dashed #ddd; }

.demo-method > li h4 { color: #31c05d; }

.demo-method > li > .demo-options { padding: 0 48px; }

.demo-method > li > .demo-return { padding-left: 48px; margin-top: 24px; color: #EA9B06; }


.project-list { padding: 2px; overflow: hidden; zoom: 1; }

.project-list li { float: left; width: 200px; height: 200px; border: solid 2px #31c05d; border-radius: 10px; list-style: none; margin: 6px; cursor: pointer; }

.project-list li h1 { text-align: center; }

.project-list li small { display: block; color: gray; text-align: center; }

.project-list li .user-group { line-height: 24px; margin: 12px 4px 4px; }

.project-list li .user-group span { color: #285e8e; }

.project-list li.create { text-align: center; line-height: 200px; font-size: 48px; color: #31c05d; }

.project-list li.create:hover { color: #000; }

.project-list li:after { content: ' '; vertical-align: middle; }

.project-list:after { content: ' '; clear: both; }

.create-panel { line-height: 24px; }

.create-panel .item { margin: 6px 0; }

.create-panel .item label { display: inline-block; width: 100px; text-align: right; }

.create-panel .item .errorinfo { float: left; color: red; }

.create-panel .item .save { float: right; }

@charset "UTF-8";
/* common */
.center { text-align: center; }

.right { text-align: right; }

/* module */
#module-container { zoom: 1; overflow: hidden; padding-left: 210px; }

#module-container aside { position: relative; width: 200px; float: left; height: 100%; min-height: 500px; border-right: solid 1px #ddd; left: -210px; margin-left: -100%; }

#module-container #main-container { float: left; width: 100%; }

#module-container #main-container .empty { line-height: 48px; text-align: center; margin: 60px 0; }

#module-container #main-container .tab { overflow: hidden; border-bottom: solid 1px #ddd; }

#module-container #main-container .tab li { width: 120px; float: left; list-style: none; line-height: 24px; padding: 6px; text-align: center; border-left: solid 1px #ddd; border-top: solid 1px #ddd; cursor: pointer; }

#module-container #main-container .tab li.active { background: #24B73D; color: #fff; }

#module-container #main-container .tab li:last-child { border-right: solid 1px #ddd; }

#module-container #main-container .date { display: block; color: #ddd; text-align: right; padding-right: 24px; }

#module-container #main-container pre > code { text-indent: -40px; border: 1px dashed #000; display: block; font-size: 12px; font-family: Courier, Calibri,"宋体"; margin: 10px 0 0 0; padding: 10px 0 10px 5px; border-radius: 12px; -moz-border-radius: 12px; background: #f5f5f5; color: #357eff; }

#module-container #main-container pre > code:before { content: ' Code '; position: relative; top: -20px; left: 80px; text-align: center; background: #fff; color: #000; }

#module-container #main-container .module-operate { margin: 36px 0; }

#module-container #main-container .module-dependencies ul li { list-style: none; display: inline-block; padding: 4px 8px; margin: 4px 6px; border: 1px solid #24B73D; }

#module-container #main-container .module-dependencies ul li.lost { border-color: #ff0000; }

#module-container #module-list { margin-left: 12px; }

#module-container #module-list li { list-style: none; line-height: 24px; }

#module-container #module-list li:before { content: '✿ '; }

#module-container #module-list li a.active { color: #24B73D; }

#module-container:after { content: ' '; clear: both; }

#create { position: absolute; top: 24px; right: 12px; }

/* module add */
#moduleadd-container { margin: 0 24px; padding: 6px 24px; border: solid 1px #ddd; border-radius: 20px; line-height: 24px; }

#moduleadd-container .item { margin: 6px 0; }

#moduleadd-container .item label { width: 100px; display: inline-block; text-align: right; }

#moduleadd-container .item input[type=text], #moduleadd-container .item textarea[name=code], #moduleadd-container .item textarea[name=demo], #moduleadd-container .item ul { width: 70%; padding-left: 4px; height: 24px; line-height: 24px; min-width: 100px; border: 1px solid #ddd; }

#moduleadd-container .item input[type=text].error, #moduleadd-container .item textarea[name=code].error, #moduleadd-container .item textarea[name=demo].error, #moduleadd-container .item ul.error { border: solid 1px #ff0000; }

#moduleadd-container .item textarea[name=code], #moduleadd-container .item textarea[name=demo] { min-width: 200px; height: 30%; min-height: 200px; }

#moduleadd-container .item ul { display: inline-block; border: none; }

#moduleadd-container .item ul li { list-style: none; display: inline-block; margin: 0 4px; padding: 2px 6px; border: 1px solid #ddd; }

#moduleadd-container .item ul li.lost { border-color: #ff0000; }

#moduleadd-container .item #code, #moduleadd-container .item #demo { display: inline-block; width: 71%; height: 500px; border: 1px solid rgba(221, 221, 221, 0.2); }

#moduleadd-container .item #btn-save { margin-top: 24px; }

#moduleadd-container .btn-load-module { padding: 0 12px; }

#moduleadd-container h1#project-name { text-align: center; }

.crumbs { margin: 0 0 12px 28px; color: #ddd; }

.crumbs a:first-child:before { content: ' ♔ '; }

.crumbs span { color: #24B73D; }

.module-tags li { display: inline-block; margin: 2px 6px; border: solid 1px #31c05d; padding: 4px 8px; }

#search-container { padding: 8px 32px; }

#search-container .search-list { line-height: 24px; }

#search-container .search-list > li .title a { color: #74AB0A; }

#search-container .search-list > li .title a:hover { color: #EA9B06; }

#search-container .search-list > li .search-desc { height: 48px; border: 1px dashed #EA9B06; padding: 6px; overflow: hidden; }

#search-container .search-list > li .search-desc.auto { height: auto; }

#search-container .search-list > li .search-expando { width: 80px; margin: 0 auto; text-align: center; border: solid 1px #ddd; cursor: pointer; }
