@charset "UTF-8";
html { font-size: 14px; font-family: '微软雅黑', '宋体', Arial; }

html, body, ul, ol, li, dl, dt, dd, aside { margin: 0; padding: 0; }

#wrap-container { margin: 12px 0; }

header { height: 80px; background: #24B73D; }

header > .logo { font-size: 2rem; font-weight: bold; color: white; line-height: 80px; padding: 0 0 0 12px; }

footer { border-top: solid 1px #ddd; margin: 12px 0 0 0; }

footer .copyright { padding: 12px 0; line-height: 24px; text-align: center; }

button { line-height: 24px; padding: 8px 12px; background: rgba(0, 0, 0, 0.2); color: #fff; border: none; border-radius: 8px; cursor: pointer; font-size: 14px; font-family: '微软雅黑', '宋体', Arial; }

button.face { background: #24B73D; }

button.face:hover { background: rgba(36, 183, 61, 0.8); }

button:hover { background: rgba(0, 0, 0, 0.1); }


#multiSearch { line-height: 24px; min-width: 600px; }

#multiSearch a { display: inline-block; color: black; text-decoration: none; padding: 0 6px; }

#multiSearch a:hover, #multiSearch a.active { color: #31c05d; }

#multiSearch dl { overflow: hidden; }

#multiSearch dl dt { float: left; width: 60px; text-align: center; }

#multiSearch dl dd { float: left; }

#multiSearch .cur-condition { margin-top: 24px; line-height: 24px; }

#multiSearch .cur-condition a { border: 1px solid #31c05d; padding-right: 0; }

#multiSearch .cur-condition a:after { display: inline-block; width: 24px; content: 'X'; background: #31c05d; text-align: center; margin-left: 4px; }

#multiSearch .cur-condition a:hover:after { color: #fff; }


.project-list { padding: 2px; overflow: hidden; zoom: 1; }

.project-list li { float: left; width: 200px; height: 200px; border: solid 2px #31c05d; border-radius: 10px; list-style: none; margin: 6px; cursor: pointer; }

.project-list li h1 { text-align: center; }

.project-list li small { display: block; color: gray; text-align: center; }

.project-list li .user-group { line-height: 24px; margin: 12px 4px 4px; }

.project-list li .user-group span { color: #285e8e; }

.project-list li.create { text-align: center; line-height: 200px; font-size: 48px; color: #31c05d; }

.project-list li.create:hover { color: #000; }

.project-list li:after { content: ' '; vertical-align: middle; }

.project-list:after { content: ' '; clear: both; }

.create-panel { line-height: 24px; }

.create-panel .item { margin: 6px 0; }

.create-panel .item label { display: inline-block; width: 100px; text-align: right; }

.create-panel .item .errorinfo { float: left; color: red; }

.create-panel .item .save { float: right; }

#module-container { zoom: 1; overflow: hidden; padding-left: 210px; }

#module-container aside { position: relative; width: 200px; float: left; height: 100%; min-height: 500px; border-right: solid 1px #ddd; left: -210px; margin-left: -100%; }

#module-container #main-container { float: left; width: 100%; }

#module-container #main-container .empty { line-height: 48px; text-align: center; margin: 60px 0; }

#module-container:after { content: ' '; clear: both; }

#create { position: absolute; top: 24px; right: 12px; }

/* module add */
#moduleadd-container { margin: 0 24px; padding: 6px 24px; border: solid 1px #ddd; border-radius: 20px; line-height: 24px; }

#moduleadd-container .item { margin: 6px 0; }

#moduleadd-container .item label { width: 100px; display: inline-block; text-align: right; }

#moduleadd-container .item input[type=text] { width: 70%; padding-left: 4px; height: 24px; line-height: 24px; min-width: 100px; }

#moduleadd-container .item textarea { width: 70%; padding-left: 4px; min-width: 200px; height: 30%; min-height: 200px; }

#moduleadd-container .item #btn-save { margin-top: 24px; }

#moduleadd-container h1#project-name { text-align: center; }
