<header>
    <div class="logo">Legos 前端模块管理系统</div>
    <div class="head-search">
        <label>搜索：</label>
        <input type="text" class="keys" placeholder="检索关键字" />
        <button class="btn search">搜索</button>
    </div>
</header>